<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3054771132-mloq2enii7mruo19rfumbk52otqpg13g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3054771132-mloq2enii7mruo19rfumbk52otqpg13g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3054771132-5d26eq8dnea7i76o04ullicg96n4ko8l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyTD40JQV1c0LgrmLSrmkKzcih2R6pHBE</string>
	<key>GCM_SENDER_ID</key>
	<string>3054771132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resmap.app</string>
	<key>PROJECT_ID</key>
	<string>resmap-io</string>
	<key>STORAGE_BUCKET</key>
	<string>resmap-io.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3054771132:ios:d23df6469c5f45d169e9b9</string>
</dict>
</plist>